<div class="calendar-container">
<%= month_calendar events: @screenings.each do |date, screenings| %>
  <%= date.strftime("%d") %>

  <% screenings.each do |screening| %>
    <div class="calendar-screening">
    <a href=<%= screening.link %> >"<%= screening.title %>" @ <%= screening.location %> </a>
    </div>
  <% end %>
<% end %>
</div>