
<div class="calendar-container">

<h2 class="subject-heading">What's showing today?</h2>

<% unless @screenings_today.nil? %>
<% if @screenings_today.empty? %>
<p> <%= "Sorry, it looks like there aren't any screenings in the area today." %></p>
<% else %>
<% @screenings_today.each do |screening| %>
	<p class="one-line-screening"> <a href= <%= screening.link %> > "<%=screening.title %>" at <%= screening.location %></a></p>
<% end %>
<% end %>
<% end %>
<div class="cool-clear">
</div>

<h2 class="subject-heading">Selected Screenings</h2>

<div class="card-group">
<% unless @posts.nil? %>
<% @posts.last(3).each do |highlight| %>
  <a href=<%= highlight.screenings[0].link %> >
  <div class="card">
    <%= image_tag highlight.avatar, :class => "card-img-top" %>
   
     <span class="text-content"><span><%= highlight.screenings[0].showtime.strftime('%A, %B %d') %>: "<%= highlight.screenings[0].title %>" @ <%= highlight.screenings[0].location %> </span></span>
    </div>
    </a>
   
  <% end %>
  <% end %>
  </div>

  <div class="cool-clear">
  </div>
  <div class="cool-clear">
  </div>
  
  <div class="theatre-box">
  	<div class="theatre-box2">
  		<h2 class="subject-heading">Theatres</h2>
  		<ul class="theatre-entry">
  			<li><a href="http://amblertheater.org">The Ambler Theater</a></li>
  			<li>108 E Butler Ave</li>
  			<li>Ambler, PA 19002</li>
  			<li><a href="https://www.google.com/maps/place/Ambler+Theater/@40.1546417,-75.2232744,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6bb390768ec6d:0x4292ecfdf8aae5f2!8m2!3d40.1546417!4d-75.2210857">Google Maps</a></li>
  		</ul>
  			<ul class="theatre-entry">
  			<li><a href="http://brynmawrfilminstitute.org">Bryn Mawr Film Institute</a></li>
  			<li>824 Lancaster Ave</li>
  			<li>Bryn Mawr, PA 19010</li>
  			<li><a href="https://www.google.com/maps/place/Bryn+Mawr+Film+Institute/@40.0215389,-75.3211824,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6bff5246f6263:0xecbdf567af5ee490!8m2!3d40.0215348!4d-75.3189937">Google Maps</a></li>
  		</ul>
  			<ul class="theatre-entry">
  			<li><a href="thecolonialtheatre.com">The Colonial Theatre</a></li>
  			<li>227 Bridge St.</li>
  			<li>Phoenixville, PA 19460</li>
  			<li><a href="https://www.google.com/maps/place/The+Colonial+Theatre/@40.1341068,-75.5197081,17z/data=!3m1!4b1!4m5!3m4!1s0x89c691fa94b12cf3:0x48be1d602b9f4899!8m2!3d40.1341027!4d-75.5175194">Google Maps</a></li>
  		</ul>

  		<ul class="theatre-entry">
  			<li><a href="http://ihousephilly.org">International House</a></li>
  			<li>13701 Chestnut St.</li>
  			<li>Philadelphia, PA 19104</li>
  			<li><a href="https://www.google.com/maps/place/International+House+Philadelphia/@39.9552515,-75.1990986,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c6573e0b8fb7:0x466c34d03438f9ce!8m2!3d39.9552474!4d-75.1969099">Google Maps</a></li>
  		</ul>

  		<ul class="theatre-entry">
  			<li><a href="philamoca.org">PhilaMOCA</a></li>
  			<li>531 N 12th St</li>
  			<li>Philadelphia, PA 19123</li>
  			<li><a href="https://www.google.com/maps/place/PhilaMOCA/@39.9622462,-75.1596539,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c7d4355a83d5:0x5217d87150362d71!8m2!3d39.9622421!4d-75.1574652">Google Maps</a></li>
  		</ul>

		<ul class="theatre-entry">
  			<li><a href="https://www.landmarktheatres.com/philadelphia/ritz-at-the-bourse">Ritz at the Bourse</a></li>
  			<li>400 Ranstead St.</li>
  			<li>Philadelphia, PA 19106</li>
  			<li><a href="https://www.google.com/maps/place/Ritz+At+The+Bourse/@39.9493041,-75.1499647,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c8848be2b3f3:0x9c99cdc1bc10d283!8m2!3d39.9493!4d-75.147776">Google Maps</a></li>
  		</ul>

  		<ul class="theatre-entry">
  			<li><a href="http://filmadelphia.org/roxy-theater/">Roxy Theater</a></li>
  			<li>2023 Sansom St. </li>
  			<li>Philadelphia, PA 19103</li>
  			<li><a href="https://www.google.com/maps/place/Ritz+At+The+Bourse/@39.9493041,-75.1499647,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c8848be2b3f3:0x9c99cdc1bc10d283!8m2!3d39.9493!4d-75.147776">Google Maps</a></li>
  		</ul>

  	</div>
  </div>
 </div>
</div>
<div class="cool-clear">
</div>
