<div class="calendar-container">
	<h2 class="subject-heading">New Select Screening</h2>
		<div class="cool-clear">
			</div>
				<%= form_for Post.new do |f| %>

				<%= f.select(:screenings, options_from_collection_for_select(@screenings, 'id', 'title')) %>

				<div class="cool-clear">
						</div>

				<%= f.label :avatar %><br>
				<%= f.file_field :avatar %>
				<%= f.submit "Make Post" %>

				<% end %>
				</div>


<div class="cool-clear">
	</div>