<div class="calendar-container">
	<h1 class="subject-heading">What's showing on <%= @searchDate %></h1>
	<% if @screenings.empty? %>
		<p> <%= "Sorry, it looks like there aren't any screenings in the area on this day." %></p>
	<% else %>
		<% @screenings.each do |screening| %>
		<p class="one-line-screening"><a href=<%=screening.link %> > "<%= screening.title %>" at <%= screening.location %></a></p>
	<% end %>
	<% end %>
</div>
