<!DOCTYPE html>
<html>
  <head>
    <title>Philm Projector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <link rel="shortcut icon" type="image/ico" href="reel.jpg" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>

<div class="hero-unit">
<div class="clear"></div>
	<div class="centered-content"> 
	    <h1 class="company-name">Philm Projector</h1>
	    <h2 class="blurb">A guide to repertory film screenings in the Philadelphia area</h2>
	</div>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/screenings/show">View Screenings by Month</a></li>
        <li><%= form_tag(application_search_path, :method => "get", id: "search-form") do %>
		<%= text_field :search, "date", "data-provide" => "datepicker", placeholder: "Enter date here", :class => "text_field" %>
	    <%= submit_tag "View Screenings by Date", :name => nil, :class => "submit-button" %>
	    	<% end %></li>

	    <li><a href='/home/show'>About</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p>Update test</p>

    <%= yield %>
  </body>
</html>
